dist: xenial
language: python
sudo: false

# addons for Scipy with Python 3.8-dev
addons:
  apt:
    packages: &common_packages
    - libatlas-dev
    - libatlas-base-dev
    - liblapack-dev
    - gfortran
    - libgmp-dev
    - libmpfr-dev
    - libsuitesparse-dev
    - ccache
    - swig
    - libmpc-dev

python:
  - 3.6
  - 3.7
  - 3.8-dev
  - nightly

matrix:
  fast_finish: true
  allow_failures:
    - python: 3.8-dev
    - python: nightly

before_install:
  - python --version
  - pip install -U pip
  - pip install -U pytest
  - pip install codecov

install:
  - pip install .       # Test installation correctness
  - pip install .[dev]  # Test development dependencies

script:
  - pytest -v --cov-report=xml --cov=intergalactic # Test against installed code

after_success:
  - codecov
